li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
.burger-img {
  margin-top: 2em;
  width: 200px;
  height: 100%;
  margin-bottom: 0;
}

.burger-head {
  color: red;
  display: flex;
  justify-content: center;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
body {
  background-color:#ffcc66;
}
