li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
.burger-img {
  margin-top: 2em;
  width: 200px;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.burger-head-title {
  color: red;
  flex: content;
  text-align: center;
  margin-top: -.25em;
}

.burger-head {
  flex: content;
  text-align: center;
}
.burger-uneaten {
  flex: content;
  text-align: left;
}

.burger-foot {
  flex: content;
  text-align: center;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
body {
  background-color:#ffcc66;
}
